  body {
    background-color: #f5f5f7;
    overflow-x: hidden;
  }
  .circle{
      display: none;
  }
  .navlist{
    display: none;
    width: 100%;
}
nav .ul li{
    text-decoration: none;
    display: inline-block;
    font-size: .8em;
    margin-top: 5px;
    
}
   #toggle{
        display: none;
    } 
    #toggle:checked + .navlist{
        display: block;
    } 
    .navlist .ul{
        display: block;
        flex-direction: column;
        
    }
    .navlist .ul span{
        width: auto;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid lightgray;
    }
    .navlist .ul span a{
        font-size: 16px;
        color: grey;

    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .content-wrapper{
        display: flex;
    }
    .content-right{
        display: none;
    }
    .content-left{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
      
    }
    .bold{
          font-size: 28px;
    }
    #small{
        font-size: 14px;
    }

    .input input{
        width: 100%;
        height: 40px;
        border: none;
        background-color: transparent;
    }
    input:focus{
        border: none;
        outline: none;
        background-color: transparent;
    }
    .input{
        display: inline-block;
        border-bottom: 1px solid lightgray;
        width: 220px;
        height: 70px;
        padding: 22px 0;
    }

    ::placeholder{
        color: rgb(186, 187, 198);
        text-align: center;
    }
    .search{
        display: inline-block;
        width: 150px;
        height: 50px;
        background-color: rgb(114, 115, 142);
        border-radius: 140px;
        margin: 10px auto;
        text-align: center;
    }
    .search a{
        color: #fff;
        font-size: 16px;
        line-height: 3em;
        text-decoration: none;
        display: block;

    }

@media only screen and (min-width: 600px) {
    body{
        background-color: #fff;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgb(245, 245, 247);
    }
    label{
        display: none;  
    }

    .navbar{
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;

    }
    .img{
        width: 90px;
    }
    .navlist{
        flex: 1;
        display: inline-block;
        width: 100%;
        margin-top: 8px;

    }
    /* .navlist .ul span:nth-child(1){
    
        
    }
    .navlist .ul span:nth-child(2), .navlist .ul span:nth-child(6){

    } */
    .navlist .ul{
        display: inline-block;
        flex-direction: column;
        /* background-color: red; */
        justify-content: space-evenly;
        width: auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    
     .navlist .ul span{
        width: auto;
        display: inline-block;
        text-align: center;
        border-bottom:none;
        flex-basis: 40%;
    }
    .navlist .ul span a{
        font-size: 12px;
         color: grey;
    }
    #join{
        display: inline-block;
        width: 100px;
        height: 50px;
        background-color: #e7e8eb;
        border-radius: 100px;
        text-align: center;
    }


    .content-wrapper{
        display: flex;
        margin-top: 20px; 
        flex-wrap: wrap;
        height: 500px;
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 200px;
        margin-top: 50px; */
        /* background-color: red; */
        justify-content: space-between;
        background-color: rgb(245, 245, 247);
    }
    .content{
        flex-basis: 40%;
    }
    .content-left{
        height: auto;
        text-align: justify;
        /* background-color: blue; */
    }
    .bold{
        font-size: 50px;
        line-height: 1em;
        font-weight: 500;
       
    }
    #small{
        font-size: 16px;
        margin-top: 50px;
    }

/* 
    nav ul li{
        text-decoration: none;
        display: inline-block;
        font-size: .8em;
        margin-top: 5px;
        
    } */


    .circle{
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #cdced7;
        border-radius: 50%;
        margin-right: -4px;
    }
 


    #circle2{
        background-color: #e1e1e7;
    }


    .input input{
        width: 100%;
        height: 40px;
        border: none;
        background-color: transparent;
    }
    input:focus{
        border: none;
        outline: none;
        background-color: transparent;
    }
    .input{
        display: inline-block;
        border-bottom: 1px solid lightgray;
        width: 220px;
        height: 70px;
        padding: 22px 0;
    }

    ::placeholder{
        color: rgb(186, 187, 198);
        text-align: justify;
    }
    .search{
        display: inline-block;
        width: 230px;
        height: 50px;
        background-color: rgb(114, 115, 142);
        border-radius: 140px;
        text-align: center;
    }
    .search a{
        color: #fff;
        font-size: 16px;
        line-height: 3em;
        text-decoration: none;
        display: block;

    }

    .content-right{
        display: block;
        width: 200px;
        height: 200px;
        
    
    }

    .lines{
        display: inline-block;
        width: 110%;
        background-color: rgb(186, 187, 198);
    }
    #line1{
    
        transform: rotate(45deg) translateY(87px) translateX(70px);
    }
    #line2{

        transform: rotate(-45deg) translateY(40px) translateX(-60px);
    }
    .banners{
        grid-area: banner;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        background-color: #ffffff;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        /* border: 2px solid green; */

    }
    .banners div{
        display: inline-block;
        padding: 20px;

    }
    .banners img{
        width: 100px;
    }
    #arrow{
        height: 100%;
        background-color: #f5f5f7;
        text-align: center;
        margin-right: -13px;
    }
    .banners-two{
        width: auto;
        margin-top: 100px;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* display: grid;
        grid-gap: 20px; */
    }
    .banners-div{
        flex-basis: 40%;
    }
    .banners-two-left{
        /* background-color: red; */
        
        width: auto;
        height: auto;
    }
    .lines-wrapper{
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: 60px;
    }
    .banners-two-line{
        height: 350px;
        width:250px;
        background-color: rgb(245, 245, 247);
        display: grid;
        justify-content: center;
    }
    .lines2{
        width: 90px;
        height: 1px;
        background-color:rgb(186, 187, 198);
    }
    #line3{
        transform: rotate(45deg)translateY(20px) translateX(15px);
    }
    #line4{
        transform: rotate(-45deg)translateY(-23px) translateX(10px);
    }
    .testimony{
        margin: -100px 0 0 20px;
        width: 450px;
        background-color: #333456;
        padding: 15px;
        z-index: 1;
        display: grid;
        grid-template-columns: .5fr 4fr;
        justify-content: center;
        /* grid-gap: -340px; */
    }
    #text-line{
        height: 1px;
        background-color: #fff;
        transform: rotate(90deg);
        width: 70px;
        margin-top: 60px;
    }
    .testimony p{
        font-size:14px;
        color: #fff;
        margin-top: 30px;
        margin-left: -80px;

    }
    .testimony #name{
        width: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* background-color: blue; */
        margin-left: 60px;
    }

    #name #x{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #a9aaba;
        background-color: #72738e;
        text-align: center;
        margin-top: 20px;
    }
    #name div{
        width: 50px;
        height: auto;
    }
    #name p{
        font-size: 12px;
        margin-left: 5px;
        margin-top: 25px; 
    
    }
    .checked{
        color: #fff;
        letter-spacing: 0;
    }
    #rating{
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 2;
        margin-left: 100px;
    }
    #rating #stars{
        margin-top: 20px;
        margin-left: 70px;
        float: right;
    }
    #rating p{
        margin-left: 50px;
        margin-top: -5px;
        font-size: 15px;
        color: #72738e;

    }
    .banners-two-right{
        width: auto;
        background-color: #fff;
        display: grid;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin-top: 20px;
    }
    .bt-title{
        width: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    
    }
    #bt-title-line{
        height: 1px;
        width: 70px;
        margin: 0 6px 5px 6px;
        background-color: rgb(114, 115, 142);
    }
    .bt-title p{
        font-size: 14px;
        color:rgb(114, 115, 142);
    }
    .bt-header{
        width: auto;
        color: rgb(114, 115, 142);
    }
    .bt-header p{
        font-size: 36px;
        font-weight: 600;
    }
    .desc-text{
        width: 390px;
    }
    .desc-text p{
        font-size: 14px;
    }
    .name2{
        width: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 50px;
    }
    .x2{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #a9aaba;
        background-color: #72738e;
        text-align: center;
    }
    .x2 p{
        line-height: 2.5em;
    }
    .name2-p{
        width: 200px;
        margin-left: -130px;
    }
    .name2-p p{
        font-size: 12px;
        line-height: .5em;
        margin-top: 5px;
    }

    .name2-p p:nth-child(2){
        font-weight: bold;
    }
    .desc-text hr{
        margin-top: 50px;
    }
    .how{
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /* display: grid;
        grid-gap: 100px; */
    }
    .how-div{
        flex-basis: 30%;
         
    }
    #how-t-work-left{
        width: 450px;
        margin: 0 auto;
        /* background-color: red; */
        
       
    }

    #how-t-work-mid{
        width: 450px;
        margin: 10px auto;
        
    }
    #check-text{
        margin-top: 10px;
        margin-left: -150px;
    }
    #how-t-work-mid hr{
        width: 400px;
        margin-left: 0px;
    }

    #how-t-work-right{
        width: 450px;
        margin: 25px auto;

    }

    #faq-text{
        margin-top: 10px;
        
    }
    .process{
        /* display: grid;
        grid-gap: 5px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .pfirst-wrapper{
        width: 250px;
        height: auto;
        /* display: grid; */
        justify-content: center;
        align-items: center;
        margin: 40px auto;
    }

    .process-first{
        display: grid;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .pfirst-circle-wrapper{
        width: 30px;
        height: 30px;
        margin: 0 auto;
    }
    .process-first .x2{
        grid-column: 3/5;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #e7e8eb;
    }

    .process-first .x2 p{
        line-height: 2em;
        font-size: 12px;
    }
    .pfirst-text{
        font-size: 13px;
        text-align: center;
    }
    .pfirst-text p:nth-child(2){
        font-size: 13px;
        text-align: center;
    }
    .pfirst-text p:nth-child(1){
        margin-top: 5px;
    }

    /* .auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    } */
    .process>div:nth-child(4){
        transform: rotate(-15deg);
        position: relative;
        top: 100px;
        left: -50px;
        
    }
    .process>div:nth-child(2){
        position: relative;
        top: 50px;
    }
 

/* 
    .process>div:nth-child(3){
        margin-top: 50px;
        margin-left: -90px;
    } */
    /* .process>div:nth-child(5){
        margin-top: 20px;
        margin-left: -150px;
    } */
    .process>div:nth-child(6){
        position: relative;
        top: 50px;
        left: -100px;
    }
    /* .process>div:nth-child(7){
        margin-top: 40px;
        margin-left: -200px;
    } */

    .curve{
    width: 150px; 
    height: 100px;  
    border: dotted 5px #e7e8eb;
    border-color: #e7e8eb transparent transparent transparent;
    border-radius: 50%;
    transform: rotate(190deg);
    margin-top: 50px;
    display: none;
    }

}