body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 247);
    display: grid;
    grid-template-areas: "nav nav nav"
                                    "space space space"
                                    "content content content"
                                    "banner banner banner";
}


img{
    width: 90px;
    margin-top: 5px;
}

nav{
    grid-area: nav;
}
.space{
    grid-area: space;
    height: 150px;
}
.content-wrapper{
    grid-area: content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 200px;
}
.content-left{
    margin-left: 7%;
}
.bold{
    font-size: 50px;
    line-height: 1em;
    font-weight: 400;
}
#small{
    font-size: 16px;
    margin-top: 50px;
}
nav ul{
    width: 100%;
}

nav ul li{
    text-decoration: none;
    display: inline-block;
    font-size: .8em;
    margin-top: 5px;
    
}

.navlist{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 5fr 4fr;   
}
#img{
    grid-column: 1;
}
.wrapperspan{
    grid-column: 2;
    padding: 4px;
    margin: 0 10px 0 25px;
}
.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #cdced7;
    border-radius: 50%;
    margin-right: -4px;
}
#personal{
    font-weight: bold;
}
.contactspan{
    margin: 0 10px 0 -10px;
}

#circle2{
    background-color: #e1e1e7;
}
#join{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #e7e8eb;
    border-radius: 150px;
    text-align: center;
}
a{
    color: grey;
    font-size: 14px;
}
input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
}
input:focus{
    border: none;
    outline: none;
    background-color: transparent;
}
.input{
    display: inline-block;
    border-bottom: 1px solid lightgray;
    width: 220px;
    height: 70px;
    padding: 22px 0;
}

::placeholder{
    color: rgb(186, 187, 198)
}
.search{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: rgb(114, 115, 142);
    border-radius: 140px;
    margin-left: 30px;
    text-align: center;
}
.search a{
    color: #fff;
    font-size: 16px;
    line-height: 3em;
    text-decoration: none;
    display: block;

}

.content-right{

    width: 250px;
    height: 250px;
 
}

.lines{
    display: inline-block;
    width: 110%;
    background-color: rgb(186, 187, 198);
}
#line1{
   
    transform: rotate(45deg) translateY(87px) translateX(70px);
}
#line2{

    transform: rotate(-45deg) translateY(40px) translateX(-60px);
}
.banners{
    grid-area: banner;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #ffffff;
    margin-top: 180px;
    justify-content: center;
    align-items: center;

}
.banners div{
    display: inline-block;
    padding: 20px;

}
.banners img{
    width: 100px;
}
#arrow{
    height: 100%;
    background-color: #f5f5f7;
    text-align: center;
    margin-right: -15px;
}
#arrow p{
    line-height: 2em;
}